{% extends 'base.html' %}

{% block title %}
Login | OJ
{% endblock title %}

{% block body %}
{% include 'navbar.html' %}

<section class="vh-100" style="background-color: rgba(255, 223, 149, 0.589);">
    <div class="container py-0 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                
            {% if messages %}
            {% for message in messages %}
            <div{% if message.tags %} class="{{ message.tags }} alert-dismissible fade show"
                role="alert" {% endif %}>{{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"
                    aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none align-content-center d-md-flex">
                            <img src="https://img.freepik.com/free-vector/secure-login-sign-up-concept-illustration-user-use-secure-login-password-protection-website-social-media-account-vector-flat-style_7737-2270.jpg?size=626&ext=jpg&ga=GA1.2.1865860322.1656910696"
                                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form action="{% url 'judge:login_check' %}" method="post">
                                    {% csrf_token %}
                                    <div class="d-flex align-items-center mb-4 pb-1">
                                        <span class="h1 fw-bold mb-0">Log in</span>
                                    </div>

                                    <h5 class="fw-normal mb-4 pb-3" style="letter-spacing: 1px;">Sign into your account
                                    </h5>

                                    <div class="form-outline mb-4 d-flex flex-row align-items-center">
                                        <i class="fas fa-at fa-lg me-3 fa-fw"></i>
                                        <input type="text" name="username" id="form2Example17" class="form-control form-control-lg" placeholder="Username" required="required"/>
                                    </div>

                                    <div class="form-outline mb-4 d-flex flex-row align-items-center">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <input type="password" id="form2Example27" name="password" 
                                            class="form-control form-control-lg" placeholder="Password" required="required"/>
                                    </div>
                                    <div class="pt-1 mb-4 mx-4">
                                        <button class="btn btn-primary btn-lg btn-block  mx-3" type="submit">Login</button>
                                        <a class="small text-muted mx-3" href="#!">Forgot password?</a>
                                    </div>

                                    {% comment %} <a class="small text-muted" href="#!">Forgot password?</a> {% endcomment %}
                                    <p class="mb-4 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="{% url 'judge:register' %}"
                                            style="color: #2575ff;">Register here</a></p>
                                    <a href="#!" class="small text-muted">Terms of use.</a>
                                    <a href="#!" class="small text-muted">Privacy policy</a>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}