{% extends 'base.html' %}

{% block title %}
{{problem.problem_name | capfirst}}- Submit | OJ
{% endblock title %}
{% block css %}
<style>
    legend {
        max-width: 170px;
    }

    ::selection {
        color: rgb(255, 255, 255);
        background: rgb(58, 150, 255);
    }
</style>
{% endblock css %}

{% block body %}
{% include 'navbar.html' %}
<div class="container-fluid mt-1">
    <div class="container-fluid row">
        <div class="container col-12 col-md-6">
            <h3 class="text-center text-capitalize mt-3">
                {{ problem.problem_name }}
            </h3>
            <p class="mt-3">
                {{problem.problem_desc}}
            </p>
        </div>
        <div class="container col ">
            <form action="{% url 'judge:submit' problem.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="border rounded-lg border-dark p-2">
                    <legend class="fw-bolder fs-3 text-center" style="max-width: 1800px!important;">Submission</legend>
                    <div class="form-group mb-4">
                        <label for="language" class="form-label">Language:</label>
                        <select name="language" class="form-control form-select" id="language" required="required">
                            <option value="">Choose language</option>
                            <option value="c++">C++</option>
                            <option value="java">java</option>
                        </select>
                    </div>
                    <div class="form-group mb-4">
                    <label for="textaera" class="form-label">Write your code here:</label>
                    <textarea name="codeEditor" class="form-control bg-dark text-light" id="textaera"
                        data-toggle="tooltip" data-placement="top" title="Write your code" rows="18"></textarea>
                    </div>
                    <div class="form-group mb-2">
                    <label for="language" class="form-label mt-1">Code file:</label>
                    <input type="file" class="form-control d-inline-block" name="codeFile" style="max-width: 300px;">
                    <input type="submit" class="btn btn-primary mx-md-4" name="submit" value="Submit">
                    </div>
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{message}}
                      </div>
                      {% endfor %}
                    {% endif %}
                    
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock body %}