{% extends 'base.html' %}

{% block title %}
Problems | OJ
{% endblock title %}

{% block body %}
{% include 'navbar.html' %}
{% if request.user.is_authenticated %}
<div class="container p-4">
  <h1 class="text-center">Problems</h1>
  <ol class="list-group list-group-numbered">
    {% if problems %}
    <div class="d-flex justify-content-between list-group-item">
      <div class="fw-bold">Problem name</div>
      <span class="fw-bold">Difficulty</span>
    </div>

    {% for problem in problems %}
    <li class="list-group-item list-group-item-action d-flex justify-content-around align-items-start">
      <div class="ms-2 me-auto">
        <a href="{% url 'judge:problem' problem.id %}" class=" fw-bolder text-decoration-none text-capitalize p-3">
          {{problem.problem_name}}
        </a>
      </div>
      {% if problem.problem_difficulty == 'easy' %}
      <span class="badge rounded-pill bg-success">Easy</span>
      {% endif %}
      {% if problem.problem_difficulty == 'medium' %}
      <span class="badge rounded-pill bg-warning">Medium</span>
      {% endif %}
      {% if problem.problem_difficulty == 'difficult' %}
      <span class="badge rounded-pill bg-danger">Difficult</span>
      {% endif %}
      {% endfor %}
    </li>
  </ol>
  {% else %}
  <div class="alert alert-danger" role="alert">
    Sorry , there are no Problems available.
  </div>
  {% endif %}
</div>
{% else %}
<div class="container">
  <div class="card text-center">
    <div class="card-header">
      Attention !!!
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>
</div>
{% endif %}

<h2>{{request.user.username}}</h2>
{% endblock body %}